:root{
    --frame-color: #A8DF8E;
    --button-color: #FFAAB8;
    --card-color: #FFD8DF;
    --row-color: #fff5f7;
    --row-color2: #ffe5eb;
    --background-color: #F0FFDF;
    --hover-color: #fe6d85;
}
